[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pydantic = "*"
fastapi = "*"
psycopg2-binary = "*"
uvicorn = {extras = ["standard"], version = "*"}
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"
